body {
    font-family: 'Rubik', sans-serif;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.green {
    color: #B2DB34 !important;
}

.green-1 {
    color: #28A352 !important;
}

.orange {
    color: #FD7634 !important;
}

.orange-1 {
    color: #FFB800 !important
}

.orange-2 {
    color: #F2AC33 !important
}

.text-black-70 {
    color: #717171 !important;
}

.black {
    color: #393939 !important;
}

.dot {
    border-bottom: 1px dashed;
}

.orange.dot {
    border-color: #FD7634;
}

a.dot {
    text-decoration: none;
}

.font-weight-bolder {
    font-weight: 900 !important;
}

section#info {
    background: url(../img/big-cloud-white.svg) no-repeat -65% 25%,
    transparent url(../img/big-cloud-white.svg) no-repeat 150% 75%;
    background-size: 50%;
}

section#program {
    background: url(../img/big-cloud-white.svg) no-repeat -60% 30%, transparent url(../img/big-cloud-white.svg) no-repeat 170% 60%;
    background-size: 50%;
}

#text-under-clock {
    z-index: 100;
    top: 50%;
    right:0;
    transform: translate(-25%, -50%);
    /*font-size: 2rem*/
}

.number-step-under-image {
    top:50%;
    left: 16%;
    transform: translate(-50%, -50%);
}

.number-step-red-under-image {
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#about h3 {
    background: url('../img/Group 62.svg') no-repeat 0% -114%;
    background-size: 100%;
    padding-top: 100px !important;
}

section#about {
    background: url(../img/big-cloud-white.svg) no-repeat -55% 19%, transparent url(../img/big-cloud-white.svg) no-repeat 143% 92%;
    background-size: 50%;
}

.card {
    background: #FFFFFF;
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.wrapper-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.liner-gradient-green {
    background: linear-gradient(61.63deg, #28A377 5.07%, #B2DB34 91.82%);
    box-shadow: 7px 7px 20px rgba(169, 215, 57, 0.38);
    border-radius: 33px;
    border: none;
}
.liner-gradient-green:active, .liner-gradient-green:hover {
    background: linear-gradient(64.37deg, #29916C 5.07%, #90ad36 91.82%);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.liner-gradient-orange {
    background: linear-gradient(248.22deg, #FFB800 0%, #B2DB34 89.88%);
    box-shadow: 7px 7px 20px rgba(255, 184, 0, 0.32);
    border-radius: 33px;
    border: none;
}
.liner-gradient-orange:active, .liner-gradient-orange:hover {
    background: linear-gradient(248.22deg, #FFB800 0%, #B2DB34 89.88%);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.liner-gradient-red {
    background: linear-gradient(248.08deg, #C9372F 0%, #FFB800 89.88%);
    box-shadow: 7px 7px 20px rgba(201, 55, 47, 0.28);
    border-radius: 33px;
    border: none;
}
.liner-gradient-red:active, .liner-gradient-red:hover {
    background: linear-gradient(248.08deg, #C9372F 0%, #FFB800 89.88%);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.m-h-850 {
    min-height: 850px !important;
}

section#lamp {
    background: url("../img/Group 66.svg") no-repeat center;
    background-size: auto;
    min-height: 850px;
    height: 100%;
    background-position-x: 45%;
    background-position-y: 100%;
}


element.style {
}
.font-weight-bolder {
    font-weight: 900 !important;
}
.green {
    color: #B2DB34 !important;
}
.font-weight-bolder {
    font-weight: bolder!important;
}
.display-4 {
    font-size: 3.0rem;
}

section#arrows {
    background: none;
}

#section-cost {
    background: url("../img/STAR 6.svg") -53% 25% no-repeat, url(../img/dino.svg) 148% 37% no-repeat;
    background-size: 50%;
}

@media (min-width: 576px) {
    section#info {
        background: url(../img/big-cloud-white.svg) no-repeat -20% 28%,
        transparent url(../img/big-cloud-white.svg) no-repeat 113% 100%;
    }
    section#program {
        background: url(../img/big-cloud-white.svg) no-repeat -25% 30%, url(../img/big-cloud-white.svg) no-repeat 120% 60%;
    }
    section#program-about {
        background: url(../img/big-cloud-white.svg) -25% 30% no-repeat, url(../img/big-cloud-white.svg) 120% 60% no-repeat, url(../img/Group.svg) no-repeat center;
    }
    section#about {
        background: none;
    }

    section#lamp {
        background: url("../img/Group 66.svg") no-repeat center;
        background-size: auto;
        min-height: 850px;
        height: 100%;
        background-position-y: 100%;
    }

    section#arrows {
        background: url("../img/Arrow 1.svg") no-repeat 39% 40%, url("../img/Arrow 2.png") no-repeat 62% 40%;
    }
}

@media (min-width: 768px) {
    section#about h3 {
        background: url('../img/elipse.png') no-repeat;
        background-size: contain;
        padding-top: .5rem!important;
        margin-top: 3rem!important
    }
    .wrapper-container {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
    #text-under-clock {
        /*font-size: 2.5rem;*/
    }
    .number-step-under-image {
        top:50%;
        left: 41%;
        transform: translate(-50%, -50%)
    }
    .number-step-red-under-image {
        top: 53%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    #section-cost {
        background: url("../img/STAR 6.svg") -10% 0% no-repeat, url(../img/dino.svg) 114% 100% no-repeat, url("../img/pluses.png") no-repeat center, url("../img/Group.svg") no-repeat center;
    }
}
@media (max-width: 1356px) and (min-width: 840px) {
    section#arrows {
        background: url("../img/Arrow 1.svg") no-repeat 39% 27%, url("../img/Arrow 2.png") no-repeat 62% 25%;
    }
}

@media (max-width: 840px) and (min-width: 600px) {
    section#arrows {
        background: url("../img/Arrow 1.svg") no-repeat 17% 29%, url("../img/Arrow 2.png") no-repeat 66% 29%;
    }
}

